@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* { 
    margin: 0 auto;
    padding: 0 auto;
}
:root {
    --white: hsl(0, 0%, 100%);
    --Light:hsl(212, 45%, 89%);
    --Grayish:hsl(220, 15%, 55%);
    --Dark: hsl(218, 44%, 22%);
}

body{
    margin: 0 auto;
    font-family: "Outfit", sans-serif;
    background-color: var(--Light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 1px);
    font-size: 15px;
}
img {
    max-width: 100%;
    padding: 16 16 16 16;
    border-radius: 10px;
}
.container{
    max-width: 328px;
    background: #FFFFFF;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
    border-radius: 20px;
    position: absolute;
    padding: 1.25rem;
}

h1 {
    color: var(--Dark);
    font-size: 23px;
    text-align: center;
    font-weight: 700;
    font-family: 'Outfit';
    line-height: 22px;
    font-style: normal;
    padding: 8px 16px 16px 16px;
}
p {
    color: var(--Grayish);
    text-align:center;
}
@media (min-width:500px) {
    .container {
        max-width: 400px;
    }
    
}
